<template>
	<div>
	</div>
</template>

<script>
export default {
  name: 'chart',
  props: {
    chart: {
      type: Object,
    },
    obj: {
      default: {},
    },
  },
  watch: {
    obj: function () {
    const canvas = document.createElement('canvas');
    canvas.height = window.innerHeight / 2;
    canvas.width = window.innerWidth;
    const ctx = canvas.getContext('2d');
    const datasets = this.getDatasets();
    this.$el.appendChild(canvas);
    new this.$chart(ctx, {
      type: 'line',
      data: {
        labels: this.obj.time,
        datasets
      },
      options: {
        tooltips: {
          callbacks: {
            label: value => {
              if (this.chart.type === 'dual') {
                const mod = value.yLabel % 3;
                const yInt = value.yLabel - mod;
                const ex = yInt - 3;
                const mant = Math.pow(10, mod + 3);
                return (mant / 1000).toFixed(3) + '*10^' + ex + ' ' + this.chart.name;
              } else {
                return value.yLabel + ' ' + this.chart.name;
              }
            },
            title: value => {
              return this.$moment(value[0].xLabel).format('llll');
            }
          }
        },
        scales: {
          xAxes: [
            {
              type: 'time',
              time: {
                parser: false,
                unit: 'day',
                unitStepSize: 5,
                round: false,
                displayFormats: {
                  max: this.$moment().startOf('year'),
                  min: this.$moment().endOf('year'),
                  day: 'llll'
                }
              }
            }
          ],
          yAxes: [
            {
              ticks: {
                callback: value => {
                  if (this.chart.type === 'dual') {
                    const mod = value % 3;
                    const yInt = value - mod;
                    const ex = yInt - 3;
                    const mant = Math.pow(10, mod + 3);
                    return (mant / 1000).toFixed(3) + '*10^' + ex;
                  } else {
                    return value
                  }
                }
              }
            }
          ]
        },
        responsive: false
      }
    });
    }
  },
  mounted() {
  },
  methods: {
    getLogBats() {
      const bats = [];
      const str = this.chart.fields[0]
      const obj = this.obj;
      for (let i in obj[str + 'Mant']) {
        bats.push(
          Math.log10(obj[str + 'Mant'][i]) + (obj[str + 'Ex'][i] - 3)
        );
      }
      return bats;
    },
    getDatasets() {
      return [
        {
          label: this.chart.name,
          data: (this.chart.type === 'dual')  ? this.getLogBats() : this.obj[this.chart.fields[0]],
          borderColor: this.chart.color,
          borderWidth: 1,
          fill: false
        }
      ];
    }
  },
  data() {
    return {
    };
  }
};
</script>

<style lang="scss" scoped>

</style>
