<template>
  <div>
    <h2>Dashboard</h2>
    <md-progress-spinner :md-diameter="200" :md-stroke="20" class="spinner md-primary"  v-if="showSpinnerDashboard" md-mode="indeterminate"></md-progress-spinner>
    <div v-else>
      <div class="">
        <md-icon v-if="state.isValid" class="md-size-4x lime">done</md-icon>
        <md-icon v-else class="md-size-4x red">report_problem</md-icon>
      </div>
      <div class="md-layout md-gutter">
        <div class="md-layout-item md-size-20">
          <md-field class="">
            <label>cookie</label>
            <md-input v-model="cookie"></md-input>
          </md-field>
          <md-button type="button" class="md-primary md-raised" v-on:click="onCookie">Send Cookie</md-button>
        </div>
        <div class="md-layout-item">
          <md-table>
            <md-table-row>
              <md-table-head>Name</md-table-head>
              <md-table-head>Value</md-table-head>
            </md-table-row>
            <md-table-row>
              <md-table-cell>
                Nombre de joueurs parsés:
              </md-table-cell>
              <md-table-cell>
                {{state.nbPlayers}}
              </md-table-cell>
            </md-table-row>
            <md-table-row>
              <md-table-cell>
                Hash actuel:
              </md-table-cell>
              <md-table-cell>
                {{state.hash}}
              </md-table-cell>
            </md-table-row>
          </md-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Dashboard",
  beforeMount() {
    this.showSpinnerDashboard = true;
    this.$http
      .get("http://" + this.url + "utils/get-state")
      .then(e => {
        this.showSpinnerDashboard = false;
        this.refreshState(e.data);
      })
      .catch(e => {
        this.showSpinnerDashboard = false;
      });
  },

  props: {},

  methods: {
    onCookie() {
      this.$http
        .post("http://" + this.url + "utils/" + "set-cookie", {
          userHash: this.cookie
        })
        .then(e => {
          this.refreshState(e.data);
        })
        .catch(e => {
        });
    },
    refreshState(src) {
      this.state.isValid = src.State;
      this.state.hash = src.CurrentHash;
      this.state.nbPlayers = src.NbPlayers;
    }
  },

  data() {
    return {
      showSpinnerDashboard: true,
      state: {
        hash: null,
        nbPlayers: null,
        state: null
      },
      url: this.$config.url,
      cookie: ""
    };
  }
};
</script>

<style scoped>
h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>