<template>
  <div class="main">
    <md-progress-spinner :md-diameter="200" :md-stroke="20" class="spinner"  v-if="showSpinnerList" md-mode="indeterminate"></md-progress-spinner>
    <!-- <md-table v-else v-model="players" :md-sort.sync="currentSort" :md-sort-order.sync="currentSortOrder" :md-sort-fn="sort"> -->
    <md-table v-else v-model="players">
      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell md-label="Name" md-sort-by="Rank">
          <span>{{item.Rank}}-
            <md-tooltip md-direction="bottom">Rank</md-tooltip>
          </span>
          <a :href="'https://fr-do.gamigo.com/world1/userdetails.php?user=' + item.ID" target="_blank">{{item.Name}}</a>
          <span v-if="item.Co">
            <md-icon class=" lime">check_circle</md-icon>
            <md-tooltip md-direction="right">Connecté</md-tooltip>
          </span>
          <span v-if="item.Ban">
            <md-icon class="red">lock_outline</md-icon>
            <md-tooltip md-direction="right">Bloqué</md-tooltip>
          </span>
        </md-table-cell>
        <md-table-cell md-label="Raffs" v-if="fields.raffs.checked">{{item.Bats.Raffs | printBats}}
          <md-tooltip md-direction="bottom">Raffineries</md-tooltip>
        </md-table-cell>
        <md-table-cell md-label="Mines" v-if="fields.mines.checked">{{item.Bats.Mines | printBats}}
          <md-tooltip md-direction="bottom">Mines</md-tooltip>
        </md-table-cell>
        <md-table-cell md-label="Usines" v-if="fields.usines.checked">{{item.Bats.Usines | printBats}}
          <md-tooltip md-direction="bottom">Usines</md-tooltip>
        </md-table-cell>
        <md-table-cell md-label="Munis" v-if="fields.munis.checked">{{item.Bats.Munis| printBats}}
          <md-tooltip md-direction="bottom">Usines de munitions</md-tooltip>
        </md-table-cell>
        <md-table-cell md-label="Infos" v-if="fields.infos.checked">
          <router-link :to="{ name: 'statsPlayer', params: {id: item.ID} }">
            <md-icon>chevron_right</md-icon>
          </router-link>
        </md-table-cell>
      </md-table-row>
    </md-table>
  </div>
</template>


<script>
import { SPlayers } from "./../store/SPlayers";
import { Fields } from "./../config/fields";

export default {
  name: "ListPlayers",
  mixins: [],
  components: {},
  props: ["start", "end"],
  filters: {
    printBats(e) {
      if (e.Ex < 6) {
        return e.Mant;
      }
      return e.Mant / 1000 + " *10^" + e.Ex;
    }
  },
  created: function() {
    if (!this.players.length) {
      this.getListPlayers(this.request);
    }
  },
  watch: {
    request: {
      deep: true,
      handler: function(request) {
        this.getListPlayers(request);
      }
    }
  },
  methods: {
    getListPlayers(request) {
      this.showSpinnerList = true;
      this.$http
        .post("http://" + this.url + "players/" + "list", {
          start: parseInt(request.start),
          end: parseInt(request.end)
        })
        .then(e => {
          this.showSpinnerList = false;
          this.players = e.data;
          this.players.sort(function(a, b) {
            return a.Rank - b.Rank;
          });
          SPlayers.setPlayers(this.players);
        })
        .catch(e => {
          console.log("Fail =>", e);
        });
    },
    sort(e) {
      const asc = (this.currentSortOrder === 'asc') ? 1 : -1;
      let sortBy = this.currentSort;
      console.log(asc, sortBy, e)
      if (
        sortBy === "Raffs" ||
        sortBy === "Mines" ||
        sortBy === "Munis" ||
        sortBy === "Usines"
      ) {
        e.sort(function(A, B) {
          let a = A.Bats[sortBy];
          let b = B.Bats[sortBy];
          if (+a.Ex === +b.Ex) {
            return (a.Mant - b.Mant) * (asc ? 1 : -1);
          } else {
            return (a.Ex - b.Ex) * (asc ? 1 : -1);
          }
        });
      } else {
        e.sort(function(a, b) {
          console.log(a, b)
          return (a[sortBy] - b[sortBy]) * (asc ? 1 : -1);
        });
      }
      console.log(e)
    }
  },
  data: function() {
    return {
      currentSort: "Munis",
      currentSortOrder: "asc",
      players: SPlayers.state.players || [],
      showSpinnerList: false,
      request: SPlayers.state.request,
      fields: Fields,
      url: this.$config.url,
      classes: this.$config.classes
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.md-table {
  height: 100%;
}

.spinner {
  position: fixed;
  top: 40%;
  right: 50%;
}

h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.tab {
  text-align: center;
}
</style>
