<template>
  <div>
    <md-button @click="goBack()">
      <md-icon>chevron_left</md-icon>
    </md-button>
    <md-progress-spinner :md-diameter="200" :md-stroke="20" class="spinner md-accent"  v-if="showSpinnerList" md-mode="indeterminate"></md-progress-spinner>
    <div class="charts">
      <chart v-for="(chart, i) in Charts" :key="i" :obj="obj" :chart="chart"></chart>
    </div>
  </div>
</template>

<script>
import { SPlayers } from '../store/SPlayers';
import Chart from './Chart';

export default {
  name: 'statsPlayer',
  components: {
    chart: Chart
  },
  created() {
    this.getInfos(this.id)
      .then(e => {
        this.showSpinnerList = false;
        const data = e.data[0].Series[0];
        this.obj = this.getObjClean(data);
      })
      .catch(e => console.log(e));
  },

  methods: {
    getObjClean(data) {
      const obj = {};
      for (let i in data.columns) {
        obj[data.columns[i]] = [];
        for (let j in data.values) {
          obj[data.columns[i]][j] = data.values[j][i];
        }
      }
      return obj;
    },

    goBack() {
      window.history.length > 1 ? this.$router.go(-1) : this.$router.push('/');
    },
    getInfos: function(id, force = false) {
      const first10 = id.substr(0, 10);
      if (!force && SPlayers.state.statsPlayers[first10]) {
        return new Promise(resolve => {
          resolve(SPlayers.state.statsPlayers[first10]);
        });
      }
      return this.$http
        .post('http://' + this.$config.url + 'players/' + 'get-infos/' + id, {})
        .then(e => {
          return (this.statsPlayers[first10] = e);
        });
    }
  },

  data() {
    return {
      id: this.$route.params.id,
      statsPlayers: SPlayers.state.statsPlayers,
      Charts: this.$config.Charts,
      obj: {},
      showSpinnerList: true,
    };
  }
};
</script>

<style scoped>
.charts {
  text-align: center;
}

.spinner {
  position: fixed;
  top: 40%;
  right: 50%;
}

</style>
