@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: md-get-palette-color(pink, A200), // The primary color of your application
  accent: md-get-palette-color(purple, A200) // The accent or secondary color
));

@import "~vue-material/dist/theme/all";


.md-icon.red {
  color: md-get-palette-color(red, A200)!important;
}

.md-icon.lime {
  color: md-get-palette-color(green, A200) !important;
}

