<template>
	<div>
		<h1>Wallah ça marche !!</h1>
		<router-link :to="{name: 'testAA'}">Go to AA</router-link>
		<router-link :to="{name: 'testAB'}">Go to AB</router-link>
		<router-view></router-view>
	</div>
</template>
