<template>
		<div>
			<header></header>
			<h2>A l'intérieur de A!!</h2>
			<h2>BBBBBBBBBBBBBBBB!!</h2>
			<h3>WOUAH !! </h3>
		</div>
</template>


<script>
export default {
	
}
</script>

<style lang="scss" scoped>

</style>
