<template>
  <div class="page-container">
    <md-toolbar class="md-primary">
      <md-button class="md-icon-button" @click="toggleMenu" v-if="!menuVisible">
        <md-icon>menu</md-icon>
      </md-button>
      <span class="md-title">NTM314</span>
    </md-toolbar>
    <md-drawer :md-active.sync="menuVisible" md-persistent="full">
      <md-toolbar class="md-transparent" md-elevation="0">
        <span>NTMenu</span>
        <div class="md-toolbar-section-end">
          <md-button class="md-icon-button md-dense" @click="toggleMenu">
            <md-icon>keyboard_arrow_left</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-field class="">
        <label>Start</label>
        <md-input type="number" v-model="start"></md-input>
      </md-field>
      <md-field class="">
        <label>End</label>
        <md-input type="number" v-model="end"></md-input>
      </md-field>
      <div>
        <md-button class="md-primary md-raised" v-on:click="onListPlayers">Go request !!!</md-button>
      </div>
      <span class="dropDown">
        <md-button class="md-primary" @click="showDialog = true">WhatDoYouWantToSee</md-button>
      </span>
      <md-dialog :md-active.sync="showDialog">
        <md-dialog-title>WhatDoYouWantToSee</md-dialog-title>
        <div v-for="(i, key) in fields" :key='key'>
          <md-checkbox v-model="i.checked">{{i.name}}</md-checkbox>
        </div>
        <md-dialog-actions>
          <md-button class="md-primary md-raised" @click="showDialog = false">Close</md-button>
        </md-dialog-actions>
      </md-dialog>
    </md-drawer>
    <md-content class="main-content">
			<transition name="slide-fade" mode="out-in">
				<router-view></router-view>
			</transition>
    </md-content>
  </div>
</template>

<script>
import { SPlayers } from './store/SPlayers';
import { Fields } from './config/fields';

export default {
  name: 'app',
  components: {},
  filters: {
    printBats(e) {
      if (e.Ex < 6) {
        return e.Mant;
      }
      return e.Mant / 1000 + ' *10^' + e.Ex;
    }
  },
  methods: {
    clickdropDown() {
      this.showDrop = !this.showDrop;
    },
    onListPlayers: function() {
      this.request.start = this.start;
      this.request.end = this.end;
      this.$router.push({ name: 'listPlayers', query: {} });
      this.toggleMenu();
    },
    toggleMenu() {
      this.menuVisible = !this.menuVisible;
    }
  },
  data: function() {
    return {
      menuVisible: false,
      start: '0',
      end: '20',
      request: SPlayers.state.request,
      data: [],
      showDrop: false,
      url: this.$config.url,
      classes: this.$config.classes,
      showDialog: false,
      fields: Fields
    };
  }
};
</script>

<style>
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
}

.main-content {
  min-height: 75vh;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.header {
  border-bottom: 1px solid #eee;
  padding: 5px;
  margin: 5px;
  top: 0;
  z-index: 2;
}

.header-tab {
  position: sticky;
  top: 0px;
  background: #9900cc;
  color: #000;
  z-index: 1;
}
.dropDown {
  position: relative;
  display: inline-block;
}

.dropDown-content {
  position: absolute;
  background: #666;
  z-index: 100;
  padding: 10px;
}

.line:hover {
  background: #ff66ff;
}

.card-body {
  text-align: center;
}

.main {
  margin: 5px;
}

.even {
  background: #ff99ff;
}

.odd {
  background: #ffccff;
}

a {
  color: #000;
}
a:hover {
  color: #660099;
  text-decoration: none;
}
</style>

